.page {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: auto 1fr 424px;
  grid-template-areas:
    "header header"
    " . main"
    "footer footer";
  max-width: 1440px;
  min-width: 284px;
  background-color: $lightbackgroundcolor;

  @media (max-width: 906px) {
    grid-template-columns: 18px auto 18px;
    grid-template-rows: 74px 1fr 358px;
    grid-template-areas:
      "header header header"
      " . main ."
      "footer footer footer";
  }

  &_theme_dark {
    background-color: $darkbackgroundcolor;
  }
}
