.pagination {
  @include flexrow;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 120px;

  &__button {
    @include flexcolumn;
    justify-content: center;
    align-items: center;
    background-color: $paginationcolorlight;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    &:nth-of-type(1) {
      margin-right: 20px;
      
      @media (max-width: 1084px) {
        margin-right: 10px;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &_theme_dark {
      background-color: $paginationcolordark;
    }

    @media (max-width: 1084px) {
      width: 24px;
      height: 24px;
    }
  }

  &__button-image {
    width: 7px;
    height: 16px;
    color: $lightfontcolorforheading;

    @media (max-width: 1084px) {
      width: 4.5px;
      height: 10px;
    }

    &_theme_dark {
      color: $darkfontcolorforheading;
    }
  }

  @media (max-width: 1084px) {
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
    margin: 0;
    margin-right: 120px;
  }

  @media (max-width: 906px) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-right: 0;
  }
}
