.pagination {
  @include flexrow;
  justify-content: flex-start;
  margin-top: 50px;
  margin-bottom: 120px;

  &__button {
    @include flexcolumn;
    justify-content: center;
    align-items: center;
    background-color: $paginationcolorlight;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;

    &_left {
      background-image: url(../../../images/pagination_left.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 7px 16px;

      @media (max-width: 1084px) {
      background-size: 4.5px 10px;
    }

      &_theme_dark {
        background-image: url(../../../images/pagination_left_dark.svg);
      }
    }

    &_right {
      background-image: url(../../../images/pagination_right.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 7px 16px;
      
      @media (max-width: 1084px) {
        background-size: 4.5px 10px;
      }
      
      &_theme_dark {
        background-image: url(../../../images/pagination_right_dark.svg);
      }
    }

    &:nth-of-type(1) {
      margin-right: 20px;
      
      @media (max-width: 1084px) {
        margin-right: 10px;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &_theme_dark {
      background-color: $paginationcolordark;
    }

    @media (max-width: 1084px) {
      width: 24px;
      height: 24px;
    }
  }

  @media (max-width: 1084px) {
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
    margin: 0;
    margin-right: 120px;
  }

  @media (max-width: 906px) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-right: 0;
  }
}
