.popup {
    @include flexcolumn;
    grid-row: 1 / 4;
    grid-column: 1 / 3;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 1;

    &__link {
    margin-top: 327px;
    margin-bottom: 79px;
    position: sticky;
    top: 327px;
    left: 630px;

    @media (max-width: 1220px) {
      margin-top: 120px;
      top: 120px;
      left: 710px;
    }

    @media (max-width: 906px) {
      margin-top: 272px;
      top: 272px;
      margin-bottom: 279px;
    }

    @media (max-width: 500px) {
      margin-top: 272px;
      top: 272px;
      margin-bottom: 170px;
    }

    @media (max-width: 400px) {
      margin-top: 272px;
      top: 272px;
      margin-bottom: 210px;
    }
  }

  &__wrapper {
    @include flexcolumn;
    justify-content: center;
    overflow: hidden;
    background: #f4f4f4;
    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
    border-radius: 20px;
    max-width: 440px;
    max-height: 300px;
    padding: 0 50px;

    @media (max-width: 500px) {
      padding: 0 27px;
      margin-right: 50px;
      aspect-ratio: 1131 / 1000;
    }
  }

  &__image {
    width: 100%;
    max-width: 340px;
    margin: 20px 0;
    aspect-ratio: 1 / 1;

    @media (max-width: 500px) {
      margin: 11px 0;;
    }
  }
}
