$lightbackgroundcolor: #f4f4f4;
$darkbackgroundcolor: #333333;
$footercolor: #efefef;
$darkfootercolor: #2f2f2f;
$buttoncolorlight: #24b47e;
$buttoncolordark: #319e75;
$themeswitchcolor: #24b47e;
$paginationcolorlight: #ebebeb;
$paginationcolordark: #434343;
$lightfontcolorforheading: #151515;
$lightfontcolorfortext: #222222;
$lightfontcolorforcoryright: #cfcfcf;
$darkfontcolorforheading: #ffffff;
$darkfontcolorfortext: #e5e5e5;
$darkfontcolorforcoryright: #565656;
$darkthemeswitchbackgroundcolor: #545454;
$userinputoutlinecolor: #c7c7c7;
