$lightbackgroundcolor: #F4F4F4;
$darkbackgroundcolor: #333333;
$footercolor: #EFEFEF;
$darkfootercolor: #2F2F2F;
$buttoncolorlight: #24B47E;
$buttoncolordark: #319E75;
$themeswitchcolor: #24B47E;
$paginationcolorlight: #EBEBEB;
$paginationcolordark: #434343;
$lightfontcolorforheading: #151515;
$lightfontcolorfortext: #222222;
$lightfontcolorforcoryright: #CFCFCF;
$darkfontcolorforheading: #FFFFFF;
$darkfontcolorfortext: #E5E5E5;
$darkfontcolorforcoryright: #565656;
$darkthemeswitchbackgroundcolor: #545454;
$userinputoutlinecolor: #C7C7C7;
